# Port to run the Express API service
PORT=3001

# Get your OpenWeather API Key from https://openweathermap.org/api
# Leave empty or set to mock_key to run in local fallback mock database mode
OPENWEATHER_API_KEY=mock_key
